<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head"); %>
    <body>
        <%- include("./partials/nav") %>
        <main class="main">
            <% for( let i = 0; i < journals.length; i++ ) { %>
            <div class="journal">
                <div class="journal-top">
                    <div class="journal-date"><%= journals[i].createdAt %></div>
                    <div class="journal-day"><%= journals[i].day %></div>
                </div>
                <p class="journal-content"><%= journals[i].content %></p>
            </div>
            <% } %>
        </main>
        <%- include("./partials/footer") %>
    </body>
</html>
