<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head"); %>
    <body>
        <%- include("./partials/nav") %>
        <main class="main main-projects">
            <h3 class="myprojects-title">my projects</h3>
            <!-- <h1><%= data.projectsComments[1] %></h1> -->
            <div class="projects-container">
                <% for( let i = 0; i < data.projectsImages.length; i++ ) { %>
                <div class="project-item">
                    <img
                        src="images/projects/<%= data.projectsImages[i] %>"
                        alt="Image <%= i+1 %>"
                    />
                    <p class="project-info"><%= data.projectsComments[i] %></p>
                </div>
                <% } %>
            </div>
        </main>
        <%- include("./partials/footer") %>
    </body>
</html>
