<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head"); %>
    <body>
        <%- include("./partials/nav") %>
        <main class="main main-projects">
            <h3 class="myprojects-title">my projects</h3>
            <div class="projects-container">
                <% for( let i = 0; i < projects.length; i++ ) { %>
                <div class="project-item">
                    <img
                        src="images/projects/<%= projects[i] %>"
                        alt="Image <%= i+1 %>"
                    />
                    <p class="project-info">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Incidunt iure quia obcaecati voluptatem delectus culpa
                        saepe illo sint molestiae, qui laborum unde reiciendis.
                        Quasi, nostrum numquam. Natus quibusdam eaque quis. <%=
                        i+1 %>
                    </p>
                </div>
                <% } %>
            </div>
        </main>
        <%- include("./partials/footer") %>
    </body>
</html>
